aside.sidebar
  .sidebar-header
    h2 MWF System
  nav.sidebar-nav
    ul
      li
        a.active(href="/attendantDashboard")
          i.fa-solid.fa-gauge
          |  Dashboard
      li
        a(href="/stockAttendant")
          i.fa-solid.fa-boxes-stacked
          |  Stock Entry
      li
        a(href="/attendantStocklist")
          i.fa-solid.fa-cart-plus
          |  Stock List
      li
        a(href="/attendantStockreport")
          i.fa-solid.fa-chart-column
          |  Stock Report
      li
        a(href="/salesEntry")
          i.fa-solid.fa-file-pen
          |  Sales Entry
      li
        a(href="/saleslist")
          i.fa-solid.fa-cart-shopping
          |  Sales List
      li
        a(href="/salesreport")
          i.fa-solid.fa-file-invoice-dollar
          |  Sales Report
