extends layout
block css 
  link(rel='stylesheet', href='/css/index.css')

block content
  .container
    h1.logo MWF
    p.company-name Mayondo Wood & Furniture Ltd
    h2.tagline B2B Wood & Furniture Solutions

    p.description
      | Mayondo Wood & Furniture Ltd (MWF) is a trusted B2B supplier of quality timber, poles, hardwoods, softwoods, and custom furniture. 
      | We source premium wood products from up-country suppliers and serve construction companies, organizations, and furniture dealers with reliable materials and expertly crafted home and office furniture.

    a.btn(href='/login') Get Started
