extends layout 
block css 
  link(rel='stylesheet' href='/css/login.css')

block content
  .login-box
    h2 LOGIN

    form(action='/login', method='post', autocomplete='off')
      // Email field
      input#email(type='text', name='email', placeholder='Enter email',  autocomplete='off')
      if errors && errors.email
        small.error-message #{errors.email}

      // Password field
      input#password(type='password', name='password', placeholder='Enter password',  autocomplete='off')
      if errors && errors.password
        small.error-message #{errors.password}

      // Show Password toggle
      .show-password
        input#showPassword(type='checkbox')
        label(for='showPassword') Show Password

      // Submit button
      button(type='submit') Login


  // External JS
  script(src='/js/login.js')
