meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Dashboard Overview
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css", integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==", crossorigin="anonymous", referrerpolicy="no-referrer")
link(rel="stylesheet", href="css/managerDashboard.css")
script(src="https://cdn.jsdelivr.net/npm/chart.js")

// Sidebar
aside.sidebar
  .sidebar-header
    h2 MWF System
  nav.sidebar-nav
    ul
      li
        a.active(href="/managerDashboard")
          i.fa-solid.fa-clipboard
          |  Dashboard
      li
        a(href="/stockManager")
          i.fa-solid.fa-rectangle-list
          |  Stock Management
      li
        a(href="/saleslist")
          i.fa-solid.fa-table-list
          |  Sales Management
      li
        a(href="/signUp")
          i.fa-solid.fa-user
          |  User Management
      li
        a(href="/supplier")
          i.fa-solid.fa-receipt
          | Supplier Management

// Main content
.main
  .dashboard-container
    header
      h1 Business Dashboard

    // Top stat cards
    section.grid.stats
      .stat-card
        h3 Sales
        p.small-text UGX #{totalSales}
      .stat-card
        h3 In Stock
        p.small-text Total Quantity: #{totalQuantity} 
        p.small-text Total Stock Value: UGX #{totalStockValue}
      .stat-card
        h3 Out Of Stock
        p.small-text 1,245
      .stat-card
        h3 Orders
        p.small-text 120

    // Quick Action Cards - right below stats
    section.quick-actions
      .quick-action-card
        a(href="/addSale")
          i.fa-solid.fa-cart-plus.fa-2x
          p Add Sale
      .quick-action-card
        a(href="/addStock")
          i.fa-solid.fa-boxes-stacked.fa-2x
          p Add Stock
      .quick-action-card
        a(href="/stockReport")
          i.fa-solid.fa-file-invoice.fa-2x
          p Generate Stock Report
      .quick-action-card
        a(href="/salesReport")
          i.fa-solid.fa-chart-line.fa-2x
          p Generate Sales Report

    // Charts section
    section.charts
      .chart-card
        h3 Sales vs Stock
        canvas#salesStockChart
      .chart-card
        h3 Most Sold Products
        canvas#topProductsChart

    // Report Cards section
    section.grid.reports
      .report-card
        h2 Stock Overview
        .inner-card
          h3 Current Available Stock
          ul#stock-list
        .inner-card.alert
          h3 Low Stock Alerts
          ul#low-stock-list
      .report-card
        h2 Sales Overview
        .inner-card
          h3 Total Sales
          p#total-sales Shs0
        .inner-card
          h3 Top Customers
          ul#top-customers
        .inner-card
          h3 Payment Methods
          ul#payment-methods

script(src="js/managerDashboard.js")
