meta(charset="UTF-8")
title New Sale Entry
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css", integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==", crossorigin="anonymous", referrerpolicy="no-referrer")
link(rel="stylesheet", href="css/salesEntry.css")
//  Sidebar 
aside.sidebar
  .sidebar-header
    h2 MWF System
  nav.sidebar-nav
    ul
      li
        a.active(href="/salesEntry")
          i.fa-solid.fa-rectangle-list
          |  Sales Entry
      li
        a(href="/saleslist")
          i.fa-solid.fa-table-list
          |  Sales List
      li
        a(href="/salesreport")
          i.fa-solid.fa-table
          |  Sales Report
      li
        a(href="/attendantDashboard")
          i.fa-solid.fa-clipboard
          |  Dashboard
      li
        a(href="/receipt")
          i.fa-solid.fa-receipt
          |  Sales Reciept
.main
  .form-container
    h2 Record New Sale
    form#salesForm(action="/salesEntry", method="POST")
      label
        | Customer Name:
        input#customerName(type="text",name="customerName" required)
      label
        | Product Name:
        select#productName(name="productName" required='')
          if stocks && stocks.length 
            each stock in stocks 
              option(value = stock.name)= stock.name
      label
        | Product Type:
        select#productType(type="text",name="productType" required='')
          if stocks && stocks.length
            each stock in stocks
              option(value=stock.type)= stock.type
      label
        | Quantity:
        input#quantity(type="number", name="quantity" required='', min="1")
      label
        | Unit Price:
        input#unitPrice(type="number",name="unitPrice" required='', min="0")
      label
        | Date of Sale:
        input#saleDate(type="date",name="saleDate" required='')
      label
        | Type of Payment:
        select#paymentType(name="paymentType" required='')
          option(value='') -- Select --
          option(value="Cash") Cash
          option(value="Cheque") Cheque
          option(value="Bank Overdraft") Bank Overdraft
      label.checkbox-label(for transportfee)
        input#transportfee(type="checkbox" name="transportfee")
        | Transport Required (+5%)
      label
          | Total Cost:
          input#total(type='number' name="total" readonly)
      button(type="submit") Save Sale
    script(src='/js/calctotal.js')  
script(src="sales_form.js")