extends layout
block css
  link(rel="stylesheet", href="css/stockManager.css") 

block content
  include includes/sidebar.pug

  // Product Form
  .form-wrapper
    form#productForm(action="/stockManager", method="post" novalidate)
      h2 RECORD NEW PRODUCT

      // --- Basic Information ---
      fieldset
        legend Basic Information
        .form-grid
          div
            label Product Name
            select(name="name",required='' )
              option(value) --Select Name--
              option(value="Bed") Bed
              option(value="Sofa") Sofa
              option(value="Dining Table") Dining Table
              option(value="Cupboard") Cupboard
              option(value="Drawer") Drawer
              option(value="Bookshelf") Bookshelf
              option(value="Office Desk") Office Desk
              option(value="Timber") Timber
              option(value="Poles") Poles
              option(value="Hard Wood") Hard Wood
              option(value="Soft Wood") Soft Wood

          div
            label Product Type
            select(name="type",required='' )
              option(value) --Select Type--
              option(value="Furniture") Furniture
              option(value="Raw Materials") Raw Materials

      // --- Stock & Pricing ---
      fieldset
        legend Stock & Pricing
        .form-grid
          div
            label Quantity
            input(type="number", name="qty", min="0",required='' )
          div
            label Cost Price
            input(type="number", name="cost", min="0",required='' )
          div
            label Selling Price
            input(type="number", name="price", min="0",required='' )

      // --- Supplier ---
      fieldset
        legend Supplier
        .form-grid
          div
            label Supplier Name
            input(type="text", name="supplier",required='' )
          div
            label Date Received
            input(type="date", name="dateReceived",required='')

      // --- Product Attributes ---
      fieldset
        legend Product Attributes
        .form-grid
          div
            label Quality
            select(name="quality", required='' )
              option(value) --Select Quality--
              option(value="High") High
              option(value="Medium") Medium
              option(value="Low") Low
          div
            label Color
            input(type="text", name="color" required='')

      // --- Form Actions ---
      .form-actions
        button(type="submit") Save Product
        button(type="reset" class="btn-clear") Clear Form

  // === Footer Section ===
  footer.footer
    .footer-content
      p © #{new Date().getFullYear()} MWF System. All rights reserved.
      p Designed & Maintained by MWF Inventory Team.

  script(src="/js/stockManager.js")
